*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #6b21a8;
  font-family: 'Roboto', sans-serif;}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.container h1 {
  text-align: center;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 50px;
}

.book {
  border: 1px solid black;
  background-color: #5ea821;
  height: 200px;
  border-radius: 20px;
}

.add-book {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  height: 200px;
  background-color: #5ea821;
}

.add-book:hover {
  background-color: #54971d;
}

.add-book i {
  font-size: 5rem;
  color: rgb(0, 0, 0, 0.6);
}